In [ ]:
#Handle Numerical data
import numpy as np
num1=42
num2=42.5
#Perform operation
sum_value=num1+num2
square_root=np.sqrt(num1)
print(f"Sum: {sum_value}, Square root:{square_root}")

Sum: 84.5, Square root:6.48074069840786

In [ ]:
#Handle the missing value
import pandas as pd
df.isnull().sum()
df.fillna()

In [ ]:
#Handling the Numerical Data
mean
median
mode imputation

In [ ]:
#Handling the Categorcal data
import pandas as pd
df=pd.DataFrame({'Color':['Red','Blue','Green','Red', np.nan]})

df['Color'].fillna('Unknown',inplace=True)
#Convert categorical values to numerical(One-Hot Encoding)
df_encoded=pd.get_dummies(df, columns=['Color'])
print(df_encoded)

   Color_Blue  Color_Green  Color_Red  Color_Unknown
0       False        False       True          False
1        True        False      False          False
2       False         True      False          False
3       False        False       True          False
4       False        False      False           True

<ipython-input-5-c711742d8688>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Color'].fillna('Unknown',inplace=True)

In [ ]:
#Handle the text data
import re
text="Hello, World! Welcome to Python."

#Convert to lowercase
text=text.lower()

#Remove the Punctuation
text=re.sub(r'[^a-zA-Z0-9\s]','',text)

#Tokenize words
words=text.split()
print(words)

['hello', 'world', 'welcome', 'to', 'python']

In [ ]:
#Handle the date and time data
from datetime import datetime, timedelta

#Current date and time
now=datetime.now()

#Formatting the date
formatted_date=now.strftime("%Y-%m-%d %H:%M:%S")

#Adding the 7 days
future_date=now+timedelta(days=7)
print(f"Current Date:{formatted_date}")
print(f"Future Date: {future_date.strftime('%Y-%m-%d')}")

Current Date:2025-02-18 15:28:29
Future Date: 2025-02-25

In [ ]:
#Handle missing or Null data
df.dropna(inplace=True)

In [ ]:
#Handle missing or Null data
import pandas as pd
df=pd.DataFrame({'Name': ['Chandan','Rahul',None,'Dev'], 'Salary':[5000,7000,6000,None]})
#Drop the missing value
df.dropna()
#Fill the missing value
df['Salary'].fillna(df['Salary'].mean(),inplace=True)
print(df)

      Name  Salary
0  Chandan  5000.0
1    Rahul  7000.0
2     None  6000.0
3      Dev  6000.0

<ipython-input-3-6070f6a5cefc>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(),inplace=True)

In [ ]:
#Handling the time series data
df=pd.DataFrame({'Date':['2025-01-01','2025-01-02','2025-01-04'], 'Sales':[100,200,300]})

#Convert to datetime
df=df.set_index('Date').asfreq('D').fillna(method='ffill')
print(df)

            Sales
Date
2025-01-01    NaN
2025-01-02    NaN
2025-01-03    NaN
2025-01-04    NaN

<ipython-input-5-d95816674cb3>:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df=df.set_index('Date').asfreq('D').fillna(method='ffill')